<% include header %>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message">Suggerez la prochaine Dhondterie :</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit" class="ui blue labled submet icon button">
        <i class="icon edit"></i>
        Envoyer
    </button>
</form>

<div class="ui comments">
    <h3 class="ui dividing header">Dhondteries suggérées :</h3>
    <% for (message of message) { %>
        <div class="test"><%= message.content %></div>
    <% } %>
</div>

<% include footer %>